.mainbody{
background-color:black;
text-align: center;
margin-top: 128px;
height: 500px;
width: 400px;
}
.hw100{
height: 100px;
width: 400px
}
.display{
background-color: rgba(0,77,64,0.3);
padding: 38px;
}
.display0{
background-color: rgba(0,77,64,0.3);
}
.numkeys{
color: #18FFFF;
}
.neonnumbers{color: white;
	font-weight:bold; 
text-shadow: 0 0 6px cyan;
}
.neonborder{
		
	border-style: solid;
	border-color: white;
border-width: 1px;
box-shadow: 0 0 6px cyan;
background-color: black;

}
.neonborderbottom{		
	border-bottom-style: solid;
	border-bottom-color: white;
border-width: 2px;
box-shadow-bottom: 0 0 6px cyan;
}
.neonbotrig{
margin-top: 21px;
padding-right: 42px;padding-left: 42px;
border-bottom-style: solid;
	border-bottom-color: white;
border-width: 2px;
border-right-style: solid;
	border-right-color: white;
border-width: 2px;


}

.h30px{
height: 30px;

}
.h10px{height: 25px;}

.buttonnum{
width: 86px;

height: 43px;}