body{
background-color: #D2CECE;
}
div{
	text-align: center;
	    margin: 111px 600px; 
background-color: white;
border-radius: 15px;

}
.green-bk{
background-color: #57B846;
color:white;
}
.green-font{
color:#57B846;}

a{
text-decoration: none;
}
input
{
	padding: 9px;
    margin: 10px;
    margin-left: 0px;
    margin-top: 0px;

    padding-top: 13px;
    padding-bottom: 13px;
    padding-right: 55px;
    padding-left: 21px;

    background-color: #D2CECE;
    
    border: green;
    border-radius: 21px;
        
}

.signin{
margin: 7px;
    margin-left: 0;    
    padding: 13px 98px;
    background-color: #57B846;
    border: green;
    border-radius: 21px;
    font-weight: bold;
        margin-top: -17px;
}

h2{
border: green;
border-radius: 15px 15px 0px 0px;
    padding: 35px;
    font-weight: bold;
}
h6{
color: grey;}

.forgotpass{
    margin-top: -12px;
    margin-left: 107px;}



::placeholder { 
  color: black;
  opacity: 1; 
}

:-ms-input-placeholder { 
  color: black;
}

::-ms-input-placeholder { 
  color: black;
}
