.parotgreenbk{
background-color: #69F0AE;
}
.analogblue{
background-color: #021aee;
}
.primaryblue{
background-color: #6002ee;
}
.analogpurple{
background-color: #d602ee;}
.triadicpink{
background-color: #ee0290}
.black{
background-color: black;}
.red{
background-color: red;}
.yellow{
background-color: yellow;
}
.green{
background-color: #61d800;
}
.orangep{
background-color: #FF9800;}
.greyp{
background-color: #757575;
}
.greyp2{
background-color: #9E9E9E;
}