.margin2 {
margin-left: 2px; 
}

.paddi{
padding-left: 20px;
padding-top: 8px;

}

.margincenter{
margin-top: 24px;
}
.margintop15{
margin-top: 15px;
}
.margintop40{
margin-top: 40px;
}
.margintop30{
margin-top: 30px;
}
.marginleft20{    
margin-left: 20px;}
.marginleft10{    
margin-left: 10px;}